// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$boss-name: 'boss';
$boss-x: 0px;
$boss-y: 0px;
$boss-offset-x: 0px;
$boss-offset-y: 0px;
$boss-width: 261px;
$boss-height: 328px;
$boss-total-width: 655px;
$boss-total-height: 532px;
$boss-image: '~all.png';
$boss: (0px, 0px, 0px, 0px, 261px, 328px, 655px, 532px, '~all.png', 'boss', );
$button-arena-name: 'button-arena';
$button-arena-x: 343px;
$button-arena-y: 189px;
$button-arena-offset-x: -343px;
$button-arena-offset-y: -189px;
$button-arena-width: 184px;
$button-arena-height: 48px;
$button-arena-total-width: 655px;
$button-arena-total-height: 532px;
$button-arena-image: '~all.png';
$button-arena: (343px, 189px, -343px, -189px, 184px, 48px, 655px, 532px, '~all.png', 'button-arena', );
$crystal-arena-name: 'crystal-arena';
$crystal-arena-x: 582px;
$crystal-arena-y: 340px;
$crystal-arena-offset-x: -582px;
$crystal-arena-offset-y: -340px;
$crystal-arena-width: 20px;
$crystal-arena-height: 20px;
$crystal-arena-total-width: 655px;
$crystal-arena-total-height: 532px;
$crystal-arena-image: '~all.png';
$crystal-arena: (582px, 340px, -582px, -340px, 20px, 20px, 655px, 532px, '~all.png', 'crystal-arena', );
$deposit-name: 'deposit';
$deposit-x: 261px;
$deposit-y: 0px;
$deposit-offset-x: -261px;
$deposit-offset-y: 0px;
$deposit-width: 394px;
$deposit-height: 189px;
$deposit-total-width: 655px;
$deposit-total-height: 532px;
$deposit-image: '~all.png';
$deposit: (261px, 0px, -261px, 0px, 394px, 189px, 655px, 532px, '~all.png', 'deposit', );
$energy-1-name: 'energy-1';
$energy-1-x: 48px;
$energy-1-y: 328px;
$energy-1-offset-x: -48px;
$energy-1-offset-y: -328px;
$energy-1-width: 48px;
$energy-1-height: 76px;
$energy-1-total-width: 655px;
$energy-1-total-height: 532px;
$energy-1-image: '~all.png';
$energy-1: (48px, 328px, -48px, -328px, 48px, 76px, 655px, 532px, '~all.png', 'energy-1', );
$energy-2-name: 'energy-2';
$energy-2-x: 96px;
$energy-2-y: 328px;
$energy-2-offset-x: -96px;
$energy-2-offset-y: -328px;
$energy-2-width: 48px;
$energy-2-height: 76px;
$energy-2-total-width: 655px;
$energy-2-total-height: 532px;
$energy-2-image: '~all.png';
$energy-2: (96px, 328px, -96px, -328px, 48px, 76px, 655px, 532px, '~all.png', 'energy-2', );
$energy-3-name: 'energy-3';
$energy-3-x: 144px;
$energy-3-y: 328px;
$energy-3-offset-x: -144px;
$energy-3-offset-y: -328px;
$energy-3-width: 48px;
$energy-3-height: 76px;
$energy-3-total-width: 655px;
$energy-3-total-height: 532px;
$energy-3-image: '~all.png';
$energy-3: (144px, 328px, -144px, -328px, 48px, 76px, 655px, 532px, '~all.png', 'energy-3', );
$energy-4-name: 'energy-4';
$energy-4-x: 192px;
$energy-4-y: 328px;
$energy-4-offset-x: -192px;
$energy-4-offset-y: -328px;
$energy-4-width: 48px;
$energy-4-height: 76px;
$energy-4-total-width: 655px;
$energy-4-total-height: 532px;
$energy-4-image: '~all.png';
$energy-4: (192px, 328px, -192px, -328px, 48px, 76px, 655px, 532px, '~all.png', 'energy-4', );
$energy-5-name: 'energy-5';
$energy-5-x: 0px;
$energy-5-y: 328px;
$energy-5-offset-x: 0px;
$energy-5-offset-y: -328px;
$energy-5-width: 48px;
$energy-5-height: 76px;
$energy-5-total-width: 655px;
$energy-5-total-height: 532px;
$energy-5-image: '~all.png';
$energy-5: (0px, 328px, 0px, -328px, 48px, 76px, 655px, 532px, '~all.png', 'energy-5', );
$engineer-1-name: 'engineer-1';
$engineer-1-x: 330px;
$engineer-1-y: 404px;
$engineer-1-offset-x: -330px;
$engineer-1-offset-y: -404px;
$engineer-1-width: 36px;
$engineer-1-height: 36px;
$engineer-1-total-width: 655px;
$engineer-1-total-height: 532px;
$engineer-1-image: '~all.png';
$engineer-1: (330px, 404px, -330px, -404px, 36px, 36px, 655px, 532px, '~all.png', 'engineer-1', );
$engineer-2-name: 'engineer-2';
$engineer-2-x: 222px;
$engineer-2-y: 404px;
$engineer-2-offset-x: -222px;
$engineer-2-offset-y: -404px;
$engineer-2-width: 36px;
$engineer-2-height: 36px;
$engineer-2-total-width: 655px;
$engineer-2-total-height: 532px;
$engineer-2-image: '~all.png';
$engineer-2: (222px, 404px, -222px, -404px, 36px, 36px, 655px, 532px, '~all.png', 'engineer-2', );
$engineer-3-name: 'engineer-3';
$engineer-3-x: 186px;
$engineer-3-y: 404px;
$engineer-3-offset-x: -186px;
$engineer-3-offset-y: -404px;
$engineer-3-width: 36px;
$engineer-3-height: 36px;
$engineer-3-total-width: 655px;
$engineer-3-total-height: 532px;
$engineer-3-image: '~all.png';
$engineer-3: (186px, 404px, -186px, -404px, 36px, 36px, 655px, 532px, '~all.png', 'engineer-3', );
$engineer-4-name: 'engineer-4';
$engineer-4-x: 150px;
$engineer-4-y: 404px;
$engineer-4-offset-x: -150px;
$engineer-4-offset-y: -404px;
$engineer-4-width: 36px;
$engineer-4-height: 36px;
$engineer-4-total-width: 655px;
$engineer-4-total-height: 532px;
$engineer-4-image: '~all.png';
$engineer-4: (150px, 404px, -150px, -404px, 36px, 36px, 655px, 532px, '~all.png', 'engineer-4', );
$engineer-5-name: 'engineer-5';
$engineer-5-x: 294px;
$engineer-5-y: 404px;
$engineer-5-offset-x: -294px;
$engineer-5-offset-y: -404px;
$engineer-5-width: 36px;
$engineer-5-height: 36px;
$engineer-5-total-width: 655px;
$engineer-5-total-height: 532px;
$engineer-5-image: '~all.png';
$engineer-5: (294px, 404px, -294px, -404px, 36px, 36px, 655px, 532px, '~all.png', 'engineer-5', );
$engineer-6-name: 'engineer-6';
$engineer-6-x: 402px;
$engineer-6-y: 404px;
$engineer-6-offset-x: -402px;
$engineer-6-offset-y: -404px;
$engineer-6-width: 36px;
$engineer-6-height: 36px;
$engineer-6-total-width: 655px;
$engineer-6-total-height: 532px;
$engineer-6-image: '~all.png';
$engineer-6: (402px, 404px, -402px, -404px, 36px, 36px, 655px, 532px, '~all.png', 'engineer-6', );
$engineer-7-name: 'engineer-7';
$engineer-7-x: 366px;
$engineer-7-y: 404px;
$engineer-7-offset-x: -366px;
$engineer-7-offset-y: -404px;
$engineer-7-width: 36px;
$engineer-7-height: 36px;
$engineer-7-total-width: 655px;
$engineer-7-total-height: 532px;
$engineer-7-image: '~all.png';
$engineer-7: (366px, 404px, -366px, -404px, 36px, 36px, 655px, 532px, '~all.png', 'engineer-7', );
$engineer-8-name: 'engineer-8';
$engineer-8-x: 114px;
$engineer-8-y: 404px;
$engineer-8-offset-x: -114px;
$engineer-8-offset-y: -404px;
$engineer-8-width: 36px;
$engineer-8-height: 36px;
$engineer-8-total-width: 655px;
$engineer-8-total-height: 532px;
$engineer-8-image: '~all.png';
$engineer-8: (114px, 404px, -114px, -404px, 36px, 36px, 655px, 532px, '~all.png', 'engineer-8', );
$hp-boss-name: 'hp-boss';
$hp-boss-x: 240px;
$hp-boss-y: 328px;
$hp-boss-offset-x: -240px;
$hp-boss-offset-y: -328px;
$hp-boss-width: 251px;
$hp-boss-height: 12px;
$hp-boss-total-width: 655px;
$hp-boss-total-height: 532px;
$hp-boss-image: '~all.png';
$hp-boss: (240px, 328px, -240px, -328px, 251px, 12px, 655px, 532px, '~all.png', 'hp-boss', );
$icon-airdrop-name: 'icon-airdrop';
$icon-airdrop-x: 0px;
$icon-airdrop-y: 404px;
$icon-airdrop-offset-x: 0px;
$icon-airdrop-offset-y: -404px;
$icon-airdrop-width: 40px;
$icon-airdrop-height: 44px;
$icon-airdrop-total-width: 655px;
$icon-airdrop-total-height: 532px;
$icon-airdrop-image: '~all.png';
$icon-airdrop: (0px, 404px, 0px, -404px, 40px, 44px, 655px, 532px, '~all.png', 'icon-airdrop', );
$icon-attack-box-name: 'icon-attack-box';
$icon-attack-box-x: 599px;
$icon-attack-box-y: 237px;
$icon-attack-box-offset-x: -599px;
$icon-attack-box-offset-y: -237px;
$icon-attack-box-width: 44px;
$icon-attack-box-height: 44px;
$icon-attack-box-total-width: 655px;
$icon-attack-box-total-height: 532px;
$icon-attack-box-image: '~all.png';
$icon-attack-box: (599px, 237px, -599px, -237px, 44px, 44px, 655px, 532px, '~all.png', 'icon-attack-box', );
$icon-attack-name: 'icon-attack';
$icon-attack-x: 538px;
$icon-attack-y: 340px;
$icon-attack-offset-x: -538px;
$icon-attack-offset-y: -340px;
$icon-attack-width: 24px;
$icon-attack-height: 24px;
$icon-attack-total-width: 655px;
$icon-attack-total-height: 532px;
$icon-attack-image: '~all.png';
$icon-attack: (538px, 340px, -538px, -340px, 24px, 24px, 655px, 532px, '~all.png', 'icon-attack', );
$icon-booster-small-name: 'icon-booster-small';
$icon-booster-small-x: 546px;
$icon-booster-small-y: 287px;
$icon-booster-small-offset-x: -546px;
$icon-booster-small-offset-y: -287px;
$icon-booster-small-width: 22px;
$icon-booster-small-height: 19px;
$icon-booster-small-total-width: 655px;
$icon-booster-small-total-height: 532px;
$icon-booster-small-image: '~all.png';
$icon-booster-small: (546px, 287px, -546px, -287px, 22px, 19px, 655px, 532px, '~all.png', 'icon-booster-small', );
$icon-buy-request-name: 'icon-buy-request';
$icon-buy-request-x: 431px;
$icon-buy-request-y: 237px;
$icon-buy-request-offset-x: -431px;
$icon-buy-request-offset-y: -237px;
$icon-buy-request-width: 72px;
$icon-buy-request-height: 72px;
$icon-buy-request-total-width: 655px;
$icon-buy-request-total-height: 532px;
$icon-buy-request-image: '~all.png';
$icon-buy-request: (431px, 237px, -431px, -237px, 72px, 72px, 655px, 532px, '~all.png', 'icon-buy-request', );
$icon-clock-name: 'icon-clock';
$icon-clock-x: 282px;
$icon-clock-y: 340px;
$icon-clock-offset-x: -282px;
$icon-clock-offset-y: -340px;
$icon-clock-width: 40px;
$icon-clock-height: 40px;
$icon-clock-total-width: 655px;
$icon-clock-total-height: 532px;
$icon-clock-image: '~all.png';
$icon-clock: (282px, 340px, -282px, -340px, 40px, 40px, 655px, 532px, '~all.png', 'icon-clock', );
$icon-crystal-minigame-name: 'icon-crystal-minigame';
$icon-crystal-minigame-x: 514px;
$icon-crystal-minigame-y: 340px;
$icon-crystal-minigame-offset-x: -514px;
$icon-crystal-minigame-offset-y: -340px;
$icon-crystal-minigame-width: 24px;
$icon-crystal-minigame-height: 24px;
$icon-crystal-minigame-total-width: 655px;
$icon-crystal-minigame-total-height: 532px;
$icon-crystal-minigame-image: '~all.png';
$icon-crystal-minigame: (514px, 340px, -514px, -340px, 24px, 24px, 655px, 532px, '~all.png', 'icon-crystal-minigame', );
$icon-crystal-small-name: 'icon-crystal-small';
$icon-crystal-small-x: 562px;
$icon-crystal-small-y: 340px;
$icon-crystal-small-offset-x: -562px;
$icon-crystal-small-offset-y: -340px;
$icon-crystal-small-width: 20px;
$icon-crystal-small-height: 20px;
$icon-crystal-small-total-width: 655px;
$icon-crystal-small-total-height: 532px;
$icon-crystal-small-image: '~all.png';
$icon-crystal-small: (562px, 340px, -562px, -340px, 20px, 20px, 655px, 532px, '~all.png', 'icon-crystal-small', );
$icon-crystal-name: 'icon-crystal';
$icon-crystal-x: 40px;
$icon-crystal-y: 404px;
$icon-crystal-offset-x: -40px;
$icon-crystal-offset-y: -404px;
$icon-crystal-width: 38px;
$icon-crystal-height: 38px;
$icon-crystal-total-width: 655px;
$icon-crystal-total-height: 532px;
$icon-crystal-image: '~all.png';
$icon-crystal: (40px, 404px, -40px, -404px, 38px, 38px, 655px, 532px, '~all.png', 'icon-crystal', );
$icon-defen-name: 'icon-defen';
$icon-defen-x: 602px;
$icon-defen-y: 340px;
$icon-defen-offset-x: -602px;
$icon-defen-offset-y: -340px;
$icon-defen-width: 16px;
$icon-defen-height: 20px;
$icon-defen-total-width: 655px;
$icon-defen-total-height: 532px;
$icon-defen-image: '~all.png';
$icon-defen: (602px, 340px, -602px, -340px, 16px, 20px, 655px, 532px, '~all.png', 'icon-defen', );
$icon-enigeer-name: 'icon-enigeer';
$icon-enigeer-x: 322px;
$icon-enigeer-y: 340px;
$icon-enigeer-offset-x: -322px;
$icon-enigeer-offset-y: -340px;
$icon-enigeer-width: 42px;
$icon-enigeer-height: 35px;
$icon-enigeer-total-width: 655px;
$icon-enigeer-total-height: 532px;
$icon-enigeer-image: '~all.png';
$icon-enigeer: (322px, 340px, -322px, -340px, 42px, 35px, 655px, 532px, '~all.png', 'icon-enigeer', );
$icon-eth-mission-name: 'icon-eth-mission';
$icon-eth-mission-x: 503px;
$icon-eth-mission-y: 237px;
$icon-eth-mission-offset-x: -503px;
$icon-eth-mission-offset-y: -237px;
$icon-eth-mission-width: 48px;
$icon-eth-mission-height: 50px;
$icon-eth-mission-total-width: 655px;
$icon-eth-mission-total-height: 532px;
$icon-eth-mission-image: '~all.png';
$icon-eth-mission: (503px, 237px, -503px, -237px, 48px, 50px, 655px, 532px, '~all.png', 'icon-eth-mission', );
$icon-eth-name: 'icon-eth';
$icon-eth-x: 0px;
$icon-eth-y: 488px;
$icon-eth-offset-x: 0px;
$icon-eth-offset-y: -488px;
$icon-eth-width: 28px;
$icon-eth-height: 44px;
$icon-eth-total-width: 655px;
$icon-eth-total-height: 532px;
$icon-eth-image: '~all.png';
$icon-eth: (0px, 488px, 0px, -488px, 28px, 44px, 655px, 532px, '~all.png', 'icon-eth', );
$icon-inbox-name: 'icon-inbox';
$icon-inbox-x: 525px;
$icon-inbox-y: 287px;
$icon-inbox-offset-x: -525px;
$icon-inbox-offset-y: -287px;
$icon-inbox-width: 21px;
$icon-inbox-height: 20px;
$icon-inbox-total-width: 655px;
$icon-inbox-total-height: 532px;
$icon-inbox-image: '~all.png';
$icon-inbox: (525px, 287px, -525px, -287px, 21px, 20px, 655px, 532px, '~all.png', 'icon-inbox', );
$icon-miner-name: 'icon-miner';
$icon-miner-x: 258px;
$icon-miner-y: 404px;
$icon-miner-offset-x: -258px;
$icon-miner-offset-y: -404px;
$icon-miner-width: 36px;
$icon-miner-height: 36px;
$icon-miner-total-width: 655px;
$icon-miner-total-height: 532px;
$icon-miner-image: '~all.png';
$icon-miner: (258px, 404px, -258px, -404px, 36px, 36px, 655px, 532px, '~all.png', 'icon-miner', );
$icon-mission-name: 'icon-mission';
$icon-mission-x: 32px;
$icon-mission-y: 448px;
$icon-mission-offset-x: -32px;
$icon-mission-offset-y: -448px;
$icon-mission-width: 28px;
$icon-mission-height: 38px;
$icon-mission-total-width: 655px;
$icon-mission-total-height: 532px;
$icon-mission-image: '~all.png';
$icon-mission: (32px, 448px, -32px, -448px, 28px, 38px, 655px, 532px, '~all.png', 'icon-mission', );
$icon-number-1-name: 'icon-number-1';
$icon-number-1-x: 364px;
$icon-number-1-y: 340px;
$icon-number-1-offset-x: -364px;
$icon-number-1-offset-y: -340px;
$icon-number-1-width: 42px;
$icon-number-1-height: 32px;
$icon-number-1-total-width: 655px;
$icon-number-1-total-height: 532px;
$icon-number-1-image: '~all.png';
$icon-number-1: (364px, 340px, -364px, -340px, 42px, 32px, 655px, 532px, '~all.png', 'icon-number-1', );
$icon-number-2-name: 'icon-number-2';
$icon-number-2-x: 406px;
$icon-number-2-y: 340px;
$icon-number-2-offset-x: -406px;
$icon-number-2-offset-y: -340px;
$icon-number-2-width: 42px;
$icon-number-2-height: 32px;
$icon-number-2-total-width: 655px;
$icon-number-2-total-height: 532px;
$icon-number-2-image: '~all.png';
$icon-number-2: (406px, 340px, -406px, -340px, 42px, 32px, 655px, 532px, '~all.png', 'icon-number-2', );
$icon-number-3-name: 'icon-number-3';
$icon-number-3-x: 448px;
$icon-number-3-y: 340px;
$icon-number-3-offset-x: -448px;
$icon-number-3-offset-y: -340px;
$icon-number-3-width: 42px;
$icon-number-3-height: 32px;
$icon-number-3-total-width: 655px;
$icon-number-3-total-height: 532px;
$icon-number-3-image: '~all.png';
$icon-number-3: (448px, 340px, -448px, -340px, 42px, 32px, 655px, 532px, '~all.png', 'icon-number-3', );
$icon-prize-small-name: 'icon-prize-small';
$icon-prize-small-x: 438px;
$icon-prize-small-y: 404px;
$icon-prize-small-offset-x: -438px;
$icon-prize-small-offset-y: -404px;
$icon-prize-small-width: 16px;
$icon-prize-small-height: 25px;
$icon-prize-small-total-width: 655px;
$icon-prize-small-total-height: 532px;
$icon-prize-small-image: '~all.png';
$icon-prize-small: (438px, 404px, -438px, -404px, 16px, 25px, 655px, 532px, '~all.png', 'icon-prize-small', );
$icon-prize-name: 'icon-prize';
$icon-prize-x: 28px;
$icon-prize-y: 488px;
$icon-prize-offset-x: -28px;
$icon-prize-offset-y: -488px;
$icon-prize-width: 28px;
$icon-prize-height: 44px;
$icon-prize-total-width: 655px;
$icon-prize-total-height: 532px;
$icon-prize-image: '~all.png';
$icon-prize: (28px, 488px, -28px, -488px, 28px, 44px, 655px, 532px, '~all.png', 'icon-prize', );
$icon-redbull-mission-name: 'icon-redbull-mission';
$icon-redbull-mission-x: 551px;
$icon-redbull-mission-y: 237px;
$icon-redbull-mission-offset-x: -551px;
$icon-redbull-mission-offset-y: -237px;
$icon-redbull-mission-width: 48px;
$icon-redbull-mission-height: 50px;
$icon-redbull-mission-total-width: 655px;
$icon-redbull-mission-total-height: 532px;
$icon-redbull-mission-image: '~all.png';
$icon-redbull-mission: (551px, 237px, -551px, -237px, 48px, 50px, 655px, 532px, '~all.png', 'icon-redbull-mission', );
$icon-redbull-name: 'icon-redbull';
$icon-redbull-x: 60px;
$icon-redbull-y: 448px;
$icon-redbull-offset-x: -60px;
$icon-redbull-offset-y: -448px;
$icon-redbull-width: 24px;
$icon-redbull-height: 38px;
$icon-redbull-total-width: 655px;
$icon-redbull-total-height: 532px;
$icon-redbull-image: '~all.png';
$icon-redbull: (60px, 448px, -60px, -448px, 24px, 38px, 655px, 532px, '~all.png', 'icon-redbull', );
$icon-shop-name: 'icon-shop';
$icon-shop-x: 597px;
$icon-shop-y: 189px;
$icon-shop-offset-x: -597px;
$icon-shop-offset-y: -189px;
$icon-shop-width: 48px;
$icon-shop-height: 44px;
$icon-shop-total-width: 655px;
$icon-shop-total-height: 532px;
$icon-shop-image: '~all.png';
$icon-shop: (597px, 189px, -597px, -189px, 48px, 44px, 655px, 532px, '~all.png', 'icon-shop', );
$icon-sponsor-name: 'icon-sponsor';
$icon-sponsor-x: 343px;
$icon-sponsor-y: 237px;
$icon-sponsor-offset-x: -343px;
$icon-sponsor-offset-y: -237px;
$icon-sponsor-width: 88px;
$icon-sponsor-height: 88px;
$icon-sponsor-total-width: 655px;
$icon-sponsor-total-height: 532px;
$icon-sponsor-image: '~all.png';
$icon-sponsor: (343px, 237px, -343px, -237px, 88px, 88px, 655px, 532px, '~all.png', 'icon-sponsor', );
$icon-viruts-name: 'icon-viruts';
$icon-viruts-x: 503px;
$icon-viruts-y: 287px;
$icon-viruts-offset-x: -503px;
$icon-viruts-offset-y: -287px;
$icon-viruts-width: 22px;
$icon-viruts-height: 22px;
$icon-viruts-total-width: 655px;
$icon-viruts-total-height: 532px;
$icon-viruts-image: '~all.png';
$icon-viruts: (503px, 287px, -503px, -287px, 22px, 22px, 655px, 532px, '~all.png', 'icon-viruts', );
$icon-wallet-name: 'icon-wallet';
$icon-wallet-x: 568px;
$icon-wallet-y: 287px;
$icon-wallet-offset-x: -568px;
$icon-wallet-offset-y: -287px;
$icon-wallet-width: 18px;
$icon-wallet-height: 18px;
$icon-wallet-total-width: 655px;
$icon-wallet-total-height: 532px;
$icon-wallet-image: '~all.png';
$icon-wallet: (568px, 287px, -568px, -287px, 18px, 18px, 655px, 532px, '~all.png', 'icon-wallet', );
$knight-name: 'knight';
$knight-x: 261px;
$knight-y: 189px;
$knight-offset-x: -261px;
$knight-offset-y: -189px;
$knight-width: 82px;
$knight-height: 136px;
$knight-total-width: 655px;
$knight-total-height: 532px;
$knight-image: '~all.png';
$knight: (261px, 189px, -261px, -189px, 82px, 136px, 655px, 532px, '~all.png', 'knight', );
$logo-name: 'logo';
$logo-x: 240px;
$logo-y: 340px;
$logo-offset-x: -240px;
$logo-offset-y: -340px;
$logo-width: 42px;
$logo-height: 42px;
$logo-total-width: 655px;
$logo-total-height: 532px;
$logo-image: '~all.png';
$logo: (240px, 340px, -240px, -340px, 42px, 42px, 655px, 532px, '~all.png', 'logo', );
$note-name: 'note';
$note-x: 643px;
$note-y: 237px;
$note-offset-x: -643px;
$note-offset-y: -237px;
$note-width: 12px;
$note-height: 12px;
$note-total-width: 655px;
$note-total-height: 532px;
$note-image: '~all.png';
$note: (643px, 237px, -643px, -237px, 12px, 12px, 655px, 532px, '~all.png', 'note', );
$power-virut-name: 'power-virut';
$power-virut-x: 490px;
$power-virut-y: 340px;
$power-virut-offset-x: -490px;
$power-virut-offset-y: -340px;
$power-virut-width: 24px;
$power-virut-height: 25px;
$power-virut-total-width: 655px;
$power-virut-total-height: 532px;
$power-virut-image: '~all.png';
$power-virut: (490px, 340px, -490px, -340px, 24px, 25px, 655px, 532px, '~all.png', 'power-virut', );
$refresh-name: 'refresh';
$refresh-x: 240px;
$refresh-y: 382px;
$refresh-offset-x: -240px;
$refresh-offset-y: -382px;
$refresh-width: 18px;
$refresh-height: 22px;
$refresh-total-width: 655px;
$refresh-total-height: 532px;
$refresh-image: '~all.png';
$refresh: (240px, 382px, -240px, -382px, 18px, 22px, 655px, 532px, '~all.png', 'refresh', );
$sell-name: 'sell';
$sell-x: 527px;
$sell-y: 189px;
$sell-offset-x: -527px;
$sell-offset-y: -189px;
$sell-width: 70px;
$sell-height: 48px;
$sell-total-width: 655px;
$sell-total-height: 532px;
$sell-image: '~all.png';
$sell: (527px, 189px, -527px, -189px, 70px, 48px, 655px, 532px, '~all.png', 'sell', );
$settings-name: 'settings';
$settings-x: 586px;
$settings-y: 287px;
$settings-offset-x: -586px;
$settings-offset-y: -287px;
$settings-width: 16px;
$settings-height: 16px;
$settings-total-width: 655px;
$settings-total-height: 532px;
$settings-image: '~all.png';
$settings: (586px, 287px, -586px, -287px, 16px, 16px, 655px, 532px, '~all.png', 'settings', );
$shield-name: 'shield';
$shield-x: 0px;
$shield-y: 448px;
$shield-offset-x: 0px;
$shield-offset-y: -448px;
$shield-width: 32px;
$shield-height: 40px;
$shield-total-width: 655px;
$shield-total-height: 532px;
$shield-image: '~all.png';
$shield: (0px, 448px, 0px, -448px, 32px, 40px, 655px, 532px, '~all.png', 'shield', );
$virut-engineer-name: 'virut-engineer';
$virut-engineer-x: 78px;
$virut-engineer-y: 404px;
$virut-engineer-offset-x: -78px;
$virut-engineer-offset-y: -404px;
$virut-engineer-width: 36px;
$virut-engineer-height: 37px;
$virut-engineer-total-width: 655px;
$virut-engineer-total-height: 532px;
$virut-engineer-image: '~all.png';
$virut-engineer: (78px, 404px, -78px, -404px, 36px, 37px, 655px, 532px, '~all.png', 'virut-engineer', );
$spritesheet-width: 655px;
$spritesheet-height: 532px;
$spritesheet-image: '~all.png';
$spritesheet-sprites: ($boss, $button-arena, $crystal-arena, $deposit, $energy-1, $energy-2, $energy-3, $energy-4, $energy-5, $engineer-1, $engineer-2, $engineer-3, $engineer-4, $engineer-5, $engineer-6, $engineer-7, $engineer-8, $hp-boss, $icon-airdrop, $icon-attack-box, $icon-attack, $icon-booster-small, $icon-buy-request, $icon-clock, $icon-crystal-minigame, $icon-crystal-small, $icon-crystal, $icon-defen, $icon-enigeer, $icon-eth-mission, $icon-eth, $icon-inbox, $icon-miner, $icon-mission, $icon-number-1, $icon-number-2, $icon-number-3, $icon-prize-small, $icon-prize, $icon-redbull-mission, $icon-redbull, $icon-shop, $icon-sponsor, $icon-viruts, $icon-wallet, $knight, $logo, $note, $power-virut, $refresh, $sell, $settings, $shield, $virut-engineer, );
$spritesheet: (655px, 532px, '~all.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
